.wrapper {
    background-color: #000;
    margin-right: 5%;
    margin-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
}

body {
	background-color: #111;
	font-family: verdana;
	color: white;
}

h1 {
	color: White;
	font-size: 50px;
	text-align: center;
	font-weight: normal;
}

h2 {
	color: White;
	font-size: 42px;
	text-align: center;
	font-weight: normal;
}

.video {
	display: block;
	margin: 0 auto;
}

h3 {
    font-size: 21px;
    color: Gray;
    text-align: center;
    font-weight: normal;
}

.download {
	color: aquamarine;
	font-size: 16px;
	text-align: center;
	text-decoration: underline;
}

img {
	display: block;
	display: center;
	margin: 0 auto;
}

aside {
	text-align: right;
	color: Gray;
	font-size: 20px;
	margin: 1%;
}
